.form-outline{
    display: flex;
}

.input-group{
   width:700px;
    margin: 10px auto 50px auto;
    justify-content: center;
}

.form-control{
    width:400px;
}

.card-header {
    flex: 1 1 auto;
    background: rgba(0, 77, 77, .9);
  }

 .btn{
    background: rgba(0, 77, 77, .9); 
outline: none;
border: none;
color: white;
 }

 .card-columns{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .exp-panel{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .heart{
     color: red;
 }

 button:focus{
     outline:none;
 }

 .swiper-wrapper{
     height:185px;
     margin-bottom: 15px;
 }

 .swiper-wrapper img{
     width: 90%;
     margin: 0 5%;
     height: 100%;
 }


 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-family: monospace;
  }

  .swiper-slide {
    position: relative;
    text-align: center;
    cursor: pointer;
  }

 .welcome-message {
    color: rgba(0, 77, 77, .9);
    animation-name: example;
    animation-duration: 15s;
    animation-direction:normal;
    font-family: monospace;
 }
  @keyframes example {
    0%   {color: rgba(0, 77, 77, .9);}
    25%  {color:  cadetblue}
    50%  {color:   aquamarine;}
    100% {color: green;}
  }